/****** General ******/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.filter-title {
    margin: 0;
    font-size: 18px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Header */
nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 161.09px;
    height: 79px;
}

#logo {
    padding-top: 30px;
    width: 61.09px;
    height: 19px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    width: 344px;
    height: 35px;
    gap: 68px;
}

.menu a {
    border: solid 2px #0065fc00;
    padding-top: 16px;
}

.menu a:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
}

/* Footer */
footer {
    display: flex;
    background-color: var(--main-bg-color);
    gap: 15px;
    padding: 20px;
}

footer div {
    width: 33%;
}

/* Info Group => Titre+Sous-titre+Formulaire+filtres+info */
.infoBlock {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin:30px 0 30px 0;
}

form{
    width: fit-content;
    height: 49px;
    border: solid 1px #F2F2F2;
    border-radius: 15px;
    display: flex;
}

.fa-black {
    color: black;
    width: 14px;
    height: 18px;
    padding: 16px 18px 16px 18px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.fa-white{
    color: white;
}

input {
    width: 195px;
    font-size: 18px;
    font-weight: 700;
    border: solid 1px #F2F2F2;
    text-align: center;
}

.btnSearch{
    width: 132px;
    font-weight: 700;
    font-size: 18px;
    padding: 15px;
    text-align: center;
    background-color: #0065FC;
    color: #ffffff;
    border: solid 1px #0065FC;
    border-radius: 0 15px 15px 0;
}

#Loupe {
    display: none;
}

.filtres {
    display: flex;
    gap: 10px;
    align-items: center;
}

.filtres button {
    height: 50px;
    font-size: 17px;
    font-weight: 700;
    background-color: #ffffff;
    border: solid 2px #d9d9d9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
}

.filtresBtn i {
    margin-right: 9px;
}

.filtres button:hover {
    background-color: #DEEBFF;
}

.infoBar{
    display: flex;
    gap: 10px;
    align-items: center;
}

.infoBar i {
    display: flex;
    justify-content: center;
    padding: 10px 8px 10px 8px;
    border: solid 1px #d9d9d9;
    border-radius: 50%;
}

/****** Hebergements And Populaires ******/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
}

/****** Hebergements ******/
.hebergements {
    width: 68%;
    display: flex;
    flex-flow: column;
    margin-right: 30px;
    background-color: var(--main-bg-color);
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements h3 {
    margin-top: 30px;
}

.hebergements a {
    width: 30%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 207.25px;
    margin: 30px 0 0 0;
}

.hebergements-cards img {
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    padding: 0 0 0 15px;
}

.hebergements-cards .card-title {
    margin-top: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

/****** Populaires ******/
.populaires {
    width: 30%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-radius: 20px 0 0 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités */
.activitesBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    margin: 30px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.activites-cards a {
    width: 25%;
}

.activites-cards .card{
    display: flex;
    flex-direction: column;
    height: 439px;
    padding: 0;
}

.activites-cards img {
    max-width: 100%;
    height: 85%;
    border-radius: 20px 20px 0 0;
}

.activites-cards .card-content {
    height: 15%;
    display: flex;
    padding-left: 15px;
    align-items: center;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ******/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        align-items: baseline ;
    }

    .hebergements {
        width: 95%;
    }

    .populaires {
        width: 95%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards .card{
        height: 270px;
    }
    .activites-cards img {
        height: 75%;
    }

    .activites-cards .card-content {
        height: 25%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .main-container {
        padding: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .menu {
        display: flex;
        gap: 0;
        width: 100%;
        font-size: 19px;
    }

    .menu a {
        width: 50%;
        display: flex;
        justify-content: center;
        border-bottom: solid 2px #F2F2F2;
        padding: 0;
    }

    .menu a:hover {
        color: var(--main-color);
        border-top-color: #0065fc00;
        border-bottom-color: var(--main-color);
    }

    .infoBlock {
        padding: 0 20px 0 20px;
    }

    form {
        display: flex;
    }

    input {
        border-right: none;
    }

    .btnSearch{
        width: fit-content;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        background-color: #0065FC;
        color: #ffffff;
        border: solid 1px #0065FC;
        border-radius: 15px;
    }

    #Texte {
        display: none;
    }

    #Loupe {
        display: block;
    }

    .filtresBtn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements {
        background-color: white;
    }

    .hebergements-cards > #portCard {
        order: 1;
    }
    .hebergements-cards > #aminaCard {
        order: 6;
    }
    .hebergements-cards > #mouettesCard {
        order: 3;
    }
    .hebergements-cards > #merCard {
        order: 4;
    }
    .hebergements-cards > #canebiereCard {
        order: 2;
    }
    .hebergements-cards > #panierCard {
        order: 5;
    }

    .populaires, .hebergements {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }

    .populaires a, .hebergements a, .activites-cards a {
        width: 100%;
    }

    .populaires-cards, .hebergements-cards, .activites-cards{
        display: flex;
        flex-direction: column;
    }

    .hebergements-cards .card {
        margin-bottom: 0;        
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    footer p {
        width: 250px;
    }

    footer h3 {
        width: 250px;
    }
}